@import '../../../style/variables';

div.intro {
	padding: 14px 27px;
	max-height: 100%;

	.introWrap {
		display: flex;
		flex-direction: row;
		flex: 1;
		align-items: center;
		@media @tablet {
			display: block;
		}
		@media @smartphone {
			display: block;
		}
	}

	.title {
		font-size: 22px;
		font-weight: 400;
		border-bottom: 1px solid #e8e8e8;
		padding: 0 0 8px;
		color: #0065a0;
		width: 100%;
	}

	.description {
		margin: 1em 0;
		padding: 0 1em 0 0;
		overflow: auto;
		flex: 80% 0 1;
		font-size: 13px;
		@media @tablet {
			flex: 100% 1 0;
		}
	}

	.actions {
		flex: 20% 0 0;
	}

	.acceptAll,
	.showSettings {
		width: 100%;
		font-size: 26px;
		padding: 9px 40px;
		font-weight: 400;
		margin: 9px 0;
		@media @tablet {
			font-size: 20px;
		}
		@media @smartphone {
			font-size: 18px;
		}
	}

	.acceptAll {
		box-shadow: 2px 2px 0 #d55c00;
	}
}
