@import '../../../style/variables';

div.intro {
	padding: 14px 27px;
	max-height: 100%;

	.introWrap {
		display: flex;
		flex-direction: row;
		flex: 1;
		justify-content: space-between;
		align-items: center;
		@media @smartphone {
			display: block;
		}
	}

	.title {
		margin-bottom: -10px;
		font-size: 16px;
		font-weight: 600;
		color: black;
		width: 100%;
	}
	.description {
		margin: 1em 0;
		overflow: auto;
		flex: 75% 0 0;
		font-size: 13px;
	}
	.rejectAll {
		font-size: 14px;
		cursor: pointer;
		text-decoration: underline;
		color:#696969;
		&:hover {
			text-decoration: none;
		}
		@media @smartphone {
			margin: 1em 0;
			display: block;
		}
	}
	.acceptBtnWrap {
		margin-bottom: 5px;
		z-index: 1;
		flex: 25% 0 0;
		text-align: center;
	}
	.acceptAll {
		font-size: 22px;
		background-color: #81AF4C;
		box-shadow: 2px 2px 0 #518515;
		padding: 9px 40px;
		font-weight: 400;
		&:hover {
			color: #518515;
		}
		@media @smartphone {
			width: 100%;
		}
	}
	.mascotWrap {
		display: flex;
		flex-direction: column;
		padding-top: 15px;
		align-items: center;
		position: relative;
	}
	.mascotLogo {
		width: 100px;
		position: absolute;
		bottom: 60px;

		@media @smartphone {
			display: none;
		}
	}
}
