@import '../../../style/variables';

div.intro {
	padding: 15px 27px 27px;
	max-height: 100%;

	.title {
		font-size: 22px;
		font-weight: 400;
		border-bottom: 1px solid #e8e8e8;
		padding: 0 0 8px;
		color: #0065a0;
		width: 100%;
	}
	.description {
		margin: 1.3em 0;
		overflow: auto;
		font-size: 13px;
	}
	.options {
		padding-bottom: 10px;
	}
	.rejectAll {
		font-size: 18px;
		padding: 2px 0 5px;
		cursor: pointer;
		text-decoration: underline;
		color:#696969;
		position: relative;
		&:hover {
			text-decoration: none;
		}
		@media @smartphone {
			margin: 1em 0;
			display: block;
		}
	}
	.acceptBtnWrap {
		display: inline-block;
		vertical-align: middle;
	}
	.acceptAll {
		margin-right: 20px;
		@media @smartphone {
			width: 100%;
		}
	}
}
